[submodule "OneDrive/Desktop/To-Do-Application/OneDrive/Desktop/To-Do-Application/To-Do_Application"]
	path = OneDrive/Desktop/To-Do-Application/OneDrive/Desktop/To-Do-Application/To-Do_Application
	url = https://github.com/Asnavm/To-Do_Application.git
